.content {
    margin-bottom: 130px;
}

.section-title {
    color: black;
    font-size: 32px;
    font-weight: normal;
}

.movies-list {
    display: flex;
}

.movie {
    margin-right: 40px;
}

.movie-img {
    max-width: 200px;
    height: auto;
}

.movie-name {
    max-width: 200px;
}